.DS_Store
Thumbs.db
.~*.csv#
~$*
!.gitkeep
composer.lock
composer.phar
/vendor/

# --------------------------------------
# baserCMS
baserCMS/app/Config/database.php
baserCMS/app/Config/install.php
baserCMS/app/db/*
!baserCMS/app/db/empty
baserCMS/app/Plugin/*
!baserCMS/app/Plugin/empty
baserCMS/app/webroot/files/*
!baserCMS/app/webroot/files/empty
baserCMS/app/webroot/css/admin
baserCMS/app/webroot/img/admin
baserCMS/app/webroot/js/admin
baserCMS/app/tmp/*
!baserCMS/app/tmp/empty
baserCMS/app/View/Pages/*
!baserCMS/app/View/Pages/empty
baserCMS/app/webroot/theme/*
!baserCMS/app/webroot/theme/empty
baserCMS/app/webroot/sitemap.xml
baserCMS/nbproject/
baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/models/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/models/empty
baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/persistent/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/persistent/empty
baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/views/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/cache/views/empty
baserCMS/lib/Cake/Console/Templates/skel/tmp/logs/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/logs/empty
baserCMS/lib/Cake/Console/Templates/skel/tmp/sessions/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/sessions/empty
baserCMS/lib/Cake/Console/Templates/skel/tmp/tests/*
!baserCMS/lib/Cake/Console/Templates/skel/tmp/tests/empty
baserCMS/Vagrantfile
/baserCMS/plugins
baserCMS/Plugin/*
